/* ---COLORS--- */
$blue: #5ec2e7;
$white: #fff;
$whitebg: #fbfbfb;
$drkgrey: #333;
$grey: #666;
$lightgrey: #e3e3e3;
$lightgrey2: #999999;
$lightgrey3: #e7eaee;
$greybg: #f4f4f4;
$greybg2: #f5f5f5;
$redbg: #ff605f;
$redbg2: #fd685b;
$footerbg: #363842;
$footertext: #545766;
/* ---COLORS END--- */