/* ---SKILLS SECTION--- */
.skills {
    background-color: $greybg2;
}

.skills h3 {
    font-family: $opensans;
    font-weight: 400;
    color: $grey;
    font-size: 1rem;
    line-height: 1.6;
}

.skills .section-text {
    text-align: center;
    max-width: 805px;
    margin: 0 auto;
    padding: 50px 0 90px 0;
    
}

.section-title {
    padding-top: 110px;
}
/* ---SKILLS SECTION END--- */