/* ---BOTTOM-SLIDER SECTION--- */
.bottom-slider h2 {
    font-family: $opensans;
    font-weight: 400;
    font-style: italic;
    color: $white;
    font-size: 1.5rem;
    line-height: 1.5;
}

.bottom-slider p {
    font-family: $opensans;
    font-weight: 400;
    font-style: italic;
    color: $lightgrey;
    font-size: 1rem;
    padding-top: 25px;
}

.bottom-slider {
    background-color: $redbg;
}

.bottom-slider .container {
    justify-content: center;
}

.bottom-slider .section-text {
    text-align: center;
    max-width: 930px;
    margin: 105px 0 56px 0;
    max-height: 350px;
}
/* ---BOTTOM-SLIDER SECTION END--- */